:plain
=t('email.greeting', :name => Settings.monitoring.name)
\
=t('books.sync.failed.metadata_missing.email.body')
\
="ISBN: #{ @isbn }"
="Author: #{ @author }"
="Title: #{ @title }"
="Published date: #{ @published_date }"
\
="http://#{ Settings.host }/admin/book/#{ @id }/edit"
\
=t('email.signature')
=@host