%nav.tags

  %header
    %h6= link_to 'Tags', tags_path

  %ul
    = list_of @diffed_version.tags do |tag|
      - if @diffed_version.added_tags.include? tag
        %ins= link_to_unless_current tag
      - elsif @diffed_version.removed_tags.include? tag
        %del= tag.name
      - else
        = link_to_unless_current tag.name, tag_path(tag.slug)

-#Too much logic - model should return array
-#Then do diffed_list_of routine
-#Deleted tags should only link if the tag still exists - i.e. still tagged to any latest version of a note
-#May be too expensive
