%nav.tags

  %header
    %h6= link_to 'Tags', tags_path

  %ul
    = list_of tags do |tag|
      - if tag.diff_status == 1
        %ins= link_to_tag_unless_obsolete(tag)
      - elsif tag.diff_status == -1
        %del= link_to_tag_unless_obsolete(tag)
      - else
        = link_to_tag_unless_obsolete(tag)
