- document_title = "#{ t('notes.title') } | #{ t('site.title') }"
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title },
                :noindex => true

%section
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= t('notes.title')
      %aside
        %h4#notice= notice

  = render 'notes_list', :notes => @notes.first(9)