- document_title = "#{ @note.title } | #{ t('notes.item', :id => @note.id) }"
- set_meta_tags :title => document_title,
                :description => @note.body,
                :open_graph => { :title => @note.title }

%article
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= @note.title
      %h2= t('notes.item', :id => @note.id)
      %h3= link_to t('notes.title'), notes_path
      %aside
        %h4#notice= notice

  = render 'images', :images => @note.resources.attached_images

  %section#text= bodify(@note.body)

  = render 'tags', :tags => @tags

  = render 'versions_list', :note => @note
