- document_title = "#{ @note.headline } | #{ t('.title', id: @note.id) } | #{ t('site.title') }"
- set_meta_tags title: document_title,
                description: @note.body,
                open_graph: { title: @note.title }

%article{ class: css_instructions(@note.instruction_list) }

  %section#content{ lang: lang_attr(@note.lang), dir: dir_attr(@note.lang) }

    = render 'header', title: @note.headline, document_title: document_title

    = render 'images', images: @note.resources.attached_images, type: :standard unless @note.resources.attached_images.empty?

    = render 'media', url: @note.source_url if @note.is_embeddable_source_url

    %section#text
      = bodify(@note.body, @note.books, @note.links)

      = render 'downloads', downloads: @note.resources.attached_files unless @note.resources.attached_files.empty?

  %aside

    = render 'tag_list', tags: @tags unless @tags.empty?

    -# REVIEW: Consider listing books and links here but avoid duplication from side-notes

    = render 'versions_list', note: @note
