- document_title = "#{ @note.title } | #{ t('notes.item', :id => @note.id) }"
- set_meta_tags :title => document_title,
                :description => @note.body,
                :open_graph => { :title => @note.title }

%article{ :class => (@note.instruction_list & Settings.styling.css_for_instructions).collect { |c| 'ins-' + c.gsub(/__/, '').gsub(/_/, '-').downcase } }
  %section#note-content{ :lang => lang_attr(@note.lang), :dir => dir_attr(@note.lang) }
    %header
      %hgroup{ :data => {:title => document_title} }
        %h1
          = @note.title
        %aside
          %h4#notice= notice

    = render 'images', :images => @note.resources.attached_images unless @note.resources.attached_images.empty?

    = render 'media', :note => @note

    %section#text
      = bodify(@note.body)

    = render 'downloads', :downloads => @note.resources.attached_files unless @note.resources.attached_files.empty?

  = render 'tags', :tags => @tags

  = render 'versions_list', :note => @note

