%article

  %header
    %hgroup
      %h1= @note.title
      %h2 Note ##{ @versions.id }
      %h3= link_to 'Notes', notes_path
      %aside
        %h4#notice= notice

  = @note.body.html_safe

  = render 'tags'
  