- document_title = "#{ @note.headline } | #{ t('notes.item', :id => @note.id) }"
- set_meta_tags :title => document_title,
                :description => @note.body,
                :open_graph => { :title => @note.title }

%article{ :class => (@note.instruction_list & Settings.styling.css_for_instructions).collect { |c| 'ins-' + c.gsub(/__/, '').gsub(/_/, '-').downcase } }
  %section#note-content{ :lang => lang_attr(@note.lang), :dir => dir_attr(@note.lang) }

    = render 'header', :title => @note.headline, :document_title => document_title

    = render 'images', :images => @note.resources.attached_images, :type => :standard unless @note.resources.attached_images.empty?

    = render 'media', :note => @note unless @note.embeddable_source_url.blank?

    %section#text
      = bodify(@note.body, @note.sources)

      = render 'downloads', :downloads => @note.resources.attached_files unless @note.resources.attached_files.empty?

  = render 'tag_list', :tags => @tags

  = render 'books_list', :books => @note.sources

  = render 'versions_list', :note => @note
