- document_title = "#{ @note.title } | #{ t('notes.item', :id => @note.id) }"
- set_meta_tags :title => document_title,
                :description => @note.body,
                :open_graph => { :title => @note.title }

%article
  %section#note-content{ :lang => lang_attr(@note.lang), :dir => dir_attr(@note.lang) }
    %header
      %hgroup{ :data => {:title => document_title} }
        %h1
          = @note.title
        %h2= t('notes.item', :id => @note.id)
        %h3= link_to t('notes.title'), notes_path
        %aside
          %h4#notice= notice

    = render 'images', :images => @note.resources.attached_images

    = render 'media', :note => @note

    %section#text
      = bodify(@note.body)

    = render 'downloads', :downloads => @note.resources.attached_files

  = render 'tags', :tags => @tags

  = render 'versions_list', :note => @note
