- document_title = "#{ @note.title } | Note #{ @note.id } | joegatt.net"
- set_meta_tags :title => document_title,
                :description => snippet( "#{@note.title} : #{@note.body}", 30),
                :open_graph => { :title => document_title }

%nav
  %h6 Breadcrumbs
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Notes', notes_path
    %li= "##{ @note.id }"

%article
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= @note.title
      %h2 Note ##{ @note.id }
      %h3= link_to 'Notes', notes_path
      %aside
        %h4#notice= notice

  = bodify(@note.body)

  = render 'tags'

  = render 'versions_list', :note => @note
