- document_title = "#{ @diffed_version.undiffed_title } | Note #{ @note.id } version #{ @diffed_version.sequence } | joegatt.net"
- set_meta_tags :title => document_title,
                :description => snippet( "#{@diffed_version.undiffed_title} : #{@diffed_version.undiffed_body}", 30),
                :open_graph => { :title => document_title },
                :noindex => true

%nav
  %h6 Breadcrumbs
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Notes', notes_path
    %li= link_to "##{ @note.id }", note_path(@note)
    %li= "v#{ @diffed_version.sequence }"

%article
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1!= @diffed_version.title
      %h2
        = link_to "Note ##{ @note.id }", note_path(@note)
        %span.version
          v#{ @diffed_version.sequence } (#{ timeago_tag @diffed_version.external_updated_at })
      %h3= link_to 'Notes', notes_path
      %aside
        %h4#notice= notice

  != @diffed_version.body

  = render 'diffed_tags'

  = render 'versions_list', :note => @note
