- document_title = "#{ @diffed_version.title } | #{ t('notes.versions.full', :id => @note.id, :sequence => @diffed_version.sequence) }"
- set_meta_tags :title => document_title,
                :canonical => note_path(@note),
                :description => @diffed_version.body,
                :open_graph => { :title => @diffed_version.title },
                :noindex => true

%article
  %section#note-content{ :lang => lang_attr(@note.lang), :dir => dir_attr(@note.lang) }
    %header
      %hgroup{ :data => {:title => document_title} }
        %h1
          != Differ.diff_by_word(@diffed_version.title, @diffed_version.previous_title)
          %span.version
            #{ t('notes.versions.short', :sequence => @diffed_version.sequence) } (#{ timeago_tag @diffed_version.external_updated_at })
        %aside
          %h4#notice= notice

    = render 'media', :note => @diffed_version

    %section#text!= Differ.diff_by_word(bodify(@diffed_version.body), bodify(@diffed_version.previous_body))

  = render 'tags', :tags => @diffed_version.tags

  = render 'versions_list', :note => @note
