- document_title = "#{ @diffed_version.title } | Note #{ @note.id } version #{ @diffed_version.sequence } | joegatt.net"
- set_meta_tags :title => document_title,
                :canonical => note_path(@note),
                :description => @diffed_version.body,
                :open_graph => { :title => @diffed_version.title },
                :noindex => true

%nav
  %h6 Breadcrumbs
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'Notes', notes_path
    %li= link_to "##{ @note.id }", note_path(@note)
    %li= "v#{ @diffed_version.sequence }"

%article
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1!= Differ.diff_by_word(@diffed_version.title, @diffed_version.previous_title)
      %h2
        = link_to "Note ##{ @note.id }", note_path(@note)
        %span.version
          v#{ @diffed_version.sequence } (#{ timeago_tag @diffed_version.external_updated_at })
      %h3= link_to 'Notes', notes_path
      %aside
        %h4#notice= notice

  != Differ.diff_by_word(@diffed_version.body, @diffed_version.previous_body)

  = render 'tags', :tags => @diffed_version.tags

  = render 'versions_list', :note => @note
