- document_title = "#{ @citation.headline } | #{ t('site.title') }"
- set_meta_tags title: document_title,
                description: @citation.body,
                open_graph: { title: @citation.title }

%article
  %section#note-content{ lang: lang_attr(@citation.lang), dir: dir_attr(@citation.lang) }

    = render 'header', title: t('citations.index.title', id: @citation.id), :document_title => document_title

    %section#text
      = bodify(@citation.body, @citation.books, @citation.links)

  = render 'notes/tag_list', tags: @tags unless @tags.blank?
