%section.books

  %header
    %h6=t('books.title')

  %table
    - books.each do |book|
      %tr
        %td= book.author
        %td= mode == 'publishable' ? (link_to_unless_current book.title, book_path(book)) : book.title
        %td= book.published_date.nil? ? '' : book.published_date.year
        %td= book.published_city
        %td= book.isbn
        %td= link_to_unless_current 'Edit', edit_book_path(book.id)
