- document_title = "#{ t('.title', mode: @mode) } | #{ t('site.title') }"
- set_meta_tags title: document_title,
                description: '',
                open_graph: { title: document_title },
                noindex: true

%section

  = render 'header', title: t('.title', mode: @mode), document_title: document_title

  %nav
    %ul
      %li= link_to_unless_current 'Missing Metadata', '/bibliography/admin'
      %li= link_to_unless_current 'Cited', '/bibliography/admin/cited'
      %li= link_to_unless_current 'Citable', '/bibliography/admin/citable'
      %li= link_to_unless_current 'All', '/bibliography/admin/all'

  = render 'books_admin_list', books: @books, mode: @mode unless @books.empty?

  %aside.statistics
    = t('.statistics', count: number_with_delimiter(@books.size))
