- document_title = @book.headline
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title }

%section

  = render 'header', :title => 'Bibliography', :document_title => document_title

  -# %iframe{ :src => "http://books.google.de/books?id=#{ @book.google_books_id }&lpg=PR1&ots=Hfep-dhu0H&d&pg=PR1&output=embed" }

  = render citation_partial('book_details'), :book => @book

  = render 'citations/citations_list', :citations => @book.notes.publishable.citations, books: @books
  -# Citations for a book should be in page number (but consider Roman numerals)

  = render 'notes_list', :notes => @book.notes.publishable.listable

  = render 'books_list', :books => @related_books
