%section.links

  %header
    %h6=t('links.index.title')

  %ul
    = list_of links do |link|

      = render 'media', url: embeddable_url(link.url) if link.url =~ /youtube|vimeo|soundcloud/

      %cite= link_to link.title, link.url
      = t('citation.link.accessed_at_html', accessed_at: (timeago_tag link.updated_at))
      %p= link_to link.url.gsub(%r(https?://), ''), link.url, class: 'url'

      = render 'citations/citations_list',
        citations: link.notes.publishable.citations,
        books: '',
        links: [link] unless link.notes.publishable.citations.empty?

      = render 'notes_list', 
        notes: link.notes.publishable.listable unless link.notes.publishable.listable.empty?
