- document_title = "#{ t('.title') } | #{ t('site.title') }"
- set_meta_tags title: document_title,
                description: '',
                open_graph: { title: document_title },
                noindex: true

%section

  = render 'header', title: t('.title'), document_title: document_title 

  = render 'channels_list', channels: @channels

  %aside.statistics
    = t('.statistics', links_count: number_with_delimiter(@links_count), channels_count: number_with_delimiter(@channels.size))
