- document_title = "#{ t('tags.title') } | #{ t('site.title') }"
- set_meta_tags :title => document_title,
                :description => '',
                :open_graph => { :title => document_title },
                :noindex => true

%section
  %header
    %hgroup{ :data => {:title => document_title} }
      %h1= t('tags.title')
      %aside
        %h4#notice= notice

  %ul
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      %li= link_to tag.name, tag_path(tag.slug), :class => css_class
