%footer

  %nav
    %ul
      %li= link_to_unless_current t('notes.title'), notes_path
      %li= link_to_unless_current t('tags.title'), tags_path
      %li= link_to 'Facebook', 'http://facebook.com/joegattnet'
      %li= link_to 'Twitter', 'http://twitter.com/joegattnet'
      %li= link_to 'Github', 'http://github.com/joegattnet'
      %li= link_to 'Google+', 'http://googleplus.com/joegattnet'
      %li= link_to 'Youtube', 'http://youtube.com/joegattnet'
      %li= link_to 'Vimeo', 'http://vimeo.com/joegattnet'
      %li= link_to 'Soundcloud', 'http://soundcloud.com/joegattnet'
      %li= link_to 'Spotify', 'http://spotify.com/joegattnet'
      %li= link_to 'RSS feed', '/rss'
      %li= link_to 'joe@joegatt.net', 'mailto:joe@joegatt.net'

  %small.copyright= t('site.copyright_html')
  