%footer

  %nav
    %ul
      %li= link_to_unless_current t('notes.title'), notes_path
      %li= link_to_unless_current t('books.title'), books_path
      %li= link_to_unless_current t('tags.title'), tags_path

      = list_of Settings.web_channels do |link|
        = link_to link.gsub(/^([^\.]*).*$/, '\1').gsub(/plus/, '+').titlecase, "http://#{ link }"   

      %li= link_to 'RSS feed', '/rss'
      %li= link_to 'joe@joegatt.net', 'mailto:joe@joegatt.net'

  %small.copyright= t('site.copyright_html')
